# Анализ данных

In [1]:
import pandas as pd

## Знакомсво с набором данных

Далее представлено несколько колонок полученного набора данных.

In [9]:
data = pd.read_parquet("ml_test_rec_sys.parquet")
data.head()

,UserID,GameTitle,Rating,Age,Gender,Location,Device,PlayTimeOfDay,TotalPlaytimeInHours,PurchaseHistory,InvolvementLevel,UserReview,GameGenre,GameUpdateFrequency,SocialActivity,LoadingTimeInSeconds,GameSettingsPreference
0,user_1,game_1,2,50,Male,North America,Mobile,Night,48,Yes,Beginner,Negative,RPG,Frequent,Active,16,High Graphics
1,user_1,game_2,5,50,Male,North America,Mobile,Night,48,Yes,Beginner,Negative,Sports,Frequent,Low,30,High Performance
2,user_1,game_3,2,50,Male,North America,Mobile,Night,48,Yes,Beginner,Negative,Adventure,Occasional,Low,40,High Graphics
3,user_1,game_4,3,50,Male,North America,Mobile,Night,48,Yes,Beginner,Negative,RPG,Occasional,Moderate,24,High Graphics
4,user_1,game_5,5,50,Male,North America,Mobile,Night,48,Yes,Beginner,Negative,Action,Occasional,Active,50,Balanced

Не нашел в репозитории описания данных, поэтому, опишу как я интерпретировал таблицу, для того чтобы читающему было понятнее по какой причине я принял те или иные решения.

Удельная запись представляест собой пары комбинаций пользователь-игра и соответсвнно описание пользовательского опыта того или иного пользователя в той или иной игре.

Далее представлено как я интерпритировал смысл полученной инфомрации.

### Очевидные колонки

- `UserID` - уникальный идентификатор пользователя;
- `GameTitle` - уникальный идетификатор игры;
- `Age` - возраст клиента;
- `Gender` - пол клиента;

### `Rating`

Вопрос в том это какой-то усреднееный рейтинг для игры или это отзыв соотвествующего пользователя. Далее для каждой игры подсчитано сколько различных рейтинов было у рассматриваемой колонки. Потому, что у игры всречается понескольку различных рейтинов - выходит, что это отзыв соотвествующего по записи пользователя.

In [15]:
data.groupby("GameTitle")["Rating"].nunique().head(3).to_frame()

           Rating
GameTitle
game_1          5
game_10         5
game_11         5

### `Location`

Это свойсво клиента как его место проживания или же это то от куда велась игровая сессия свявзанная именно с этой игрой (да натянуто но я вот перепроверил). И так - получается это свойсво конкретного клиента из связки.

In [17]:
data.groupby("UserID")["Location"].nunique().head(10).to_frame()

           Location
UserID
user_1            1
user_10           1
user_100          1
user_1000         1
user_101          1
user_102          1
user_103          1
user_104          1
user_105          1
user_106          1